
h1 {
    color: rgb(160, 160, 243);
    font-family: Arial, Helvetica, sans-serif;
}

p {
    color: #c71212;
    font-family: "Times New Roman";
}

#Name {
    color: #c71212;
    font-family: "Times New Roman";
}

.Name {
    color: #c71212;
    font-family: "Times New Roman";
}